<nav class="pt-navbar header">
  <div class="header__wrapper">
    <div class="pt-navbar-group pt-align-left">
      <img src="assets/images/osn-logo.png" class="header__logo" />
      <div class="pt-navbar-heading header__title">
        Kompetisi Sains Nasional Informatika 2020
      </div>
      <span class="pt-navbar-divider" />
      <div class="header__subtitle">Online</div>
    </div>
    <div class="pt-navbar-group pt-align-right">
      <img src="assets/images/toki-logo.png" class="header__logo" />
      <img src="assets/images/tut-wuri-logo.png" class="header__logo" />
    </div>
  </div>
</nav>
