<div class="pt-card card-sidebar">
  <div class="pt-tabs pt-tab-vertical">
    <div class="pt-tab-list" role="tablist">
      <div
        class="pt-tab"
        role="tab"
        aria-selected="{% if page.key == 'news' %}true{% else %}false{% endif %}"
      >
        <span class="pt-icon-standard pt-icon-feed sidebar-icon"></span>
        <a href="/">Berita</a>
      </div>
    </div>

    <div class="pt-tab-list" role="tablist">
      <div
        class="pt-tab"
        role="tab"
        aria-selected="{% if page.key == 'contestants' %}true{% else %}false{% endif %}"
      >
        <span class="pt-icon-standard pt-icon-people sidebar-icon"></span>
        <a href="/peserta.html">Daftar Peserta</a>
      </div>
    </div>
  </div>
</div>
