@import 'colors';

.header {
  background-color: $primary-color !important;
  height: 60px;
}

.header, .header a {
  color: white;
}

.header a:hover {
  text-decoration: none;
}

.header__wrapper {
  margin: 0 auto;
  padding-top: 5px;
  max-width: 1160px;
}

.header__logo {
  height: 40px;
  margin-right: 10px;
}

.header__title {
  margin-left: 10px;
  margin-right: 0;
  font-size: 23px;
}

.header__subtitle {
  font-size: 16px;
  line-height: 24px;
  margin-left: 15px;
}
