---
---

#last-update-info {
  float: right;
}

.col-rank {
  width: 30px;
}

.col-name {
}

.col-school {
  width: 320px;
}

.col-province {
  width: 180px;
}

.col-score {
  width: 55px;
}

.medal-gold {
  background-color: #ffff00;
}

.medal-silver {
  background-color: #b7b7b7;
}

.medal-bronze {
  background-color: #e69138;
}
